
<div id="<%= dom_id(inventory_item) %>" class="bg-white shadow-md rounded p-4">
  <p class="text-lg font-semibold"><strong>Name:</strong> <%= inventory_item.name %></p>
  <p class="text-md"><strong>Quantity:</strong> <%= inventory_item.quantity %></p>
  <p class="text-md"><strong>Location:</strong> <%= inventory_item.location %></p>
  <%= form_with model: inventory_item, data: { controller: "inventory-item", action: "turbo:submit-end->inventory-item#reset" }, local: false, class: "mt-2" do |f| %>
    <div class="flex items-center">
      <%= f.label :quantity, class: "mr-2" %>
      <%= f.number_field :quantity, value: nil, class: "border rounded p-1 mr-2" %>
      <%= f.submit "Update", class: "bg-blue-500 text-white rounded px-4 py-2" %>
    </div>
  <% end %>

  <% if defined?(error_message) && error_message.present? %>
    <div class="mt-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
      <%= error_message %>
    </div>
  <% end %>
</div>

